*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#f8fafc;
    color:#1e293b;
    line-height:1.6;
}

header{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b
    );
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 10%;
}

.logo{
    font-size:1.6rem;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    margin-top:150px;
    padding:0 20px;
}

.hero h1{
    font-size:3rem;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    margin-bottom:30px;
}

.btn{
    background:white;
    color:#0f172a;
    text-decoration:none;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
}

.section{
    padding:80px 10%;
}

.section h2{
    margin-bottom:30px;
    text-align:center;
}

.skills-container{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    justify-content:center;
}

.skills-container span{
    background:#e2e8f0;
    padding:10px 18px;
    border-radius:20px;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:20px 20px 10px;
}

.card p{
    padding:0 20px 20px;
}

.buttons{
    display:flex;
    gap:10px;
    padding:20px;
}

.buttons a{
    text-decoration:none;
    background:#0f172a;
    color:white;
    padding:10px 15px;
    border-radius:8px;
}

footer{
    text-align:center;
    padding:25px;
    background:#0f172a;
    color:white;
}
